img {
	width: 100%;
}

.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
	font-weight: bold;
}

.left {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 20%;
}

.bg-nav {
	background-color: #505c64;
}

.bg-nav a {
    color: white;
}

.bg-nav a:hover {
    color: white;
}

.bg-nav a:clicked {
    color: white;
}

.section {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 15%;
}

.main {
    width: 85%;
}

.navbar-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-dropdown a{
	color: black;
}

.selection {
	border-top: 2px solid #00000036;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.sidebar-wrap {
	line-height: 2;
    border-right: 2px solid #00000036;
}

.selection span {
    padding-right: 5px;
}

.notify ul li a {color: black;}

.right {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.notify button {
    color: white;
}

.img-thumbnail {
	max-width: 20%;
}